@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: white;
    background-color: white;
}

.flex_space_between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex_start{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

:root {
    --rating-size: 10rem;
    --bar-size: 1rem;
    --background-color: #e7f2fa;
    --rating-color-default: #2980b9;
    --rating-color-background: #c7e1f3;
    --rating-color-good: #27ae60;
    --rating-color-meh: #f1c40f;
    --rating-color-bad: #e74c3c;
  }