.bg{
    opacity: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease-in;
}

.gradient{
    background-image: linear-gradient(rgba(0,0,0,0.5) 100%, rgba(0,0,0,0));
    /* opacity: 0.9; */
    /* background-color:rgb(0, 0, 0); */
}

.headlineContainer{
    opacity: 1;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 200px;
    z-index: inherit;
}

.headlines{
    color: darkgray;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.headlines h1{
    margin: auto;
    font-size: 110px;
    font-weight:bolder;
    opacity: 0.9;
    transition: font-size 0.4s ease-in;
}

.headlines h2{
    margin: auto;
    font-size: 35px;
    font-weight: 400;
}
.headlines p{
    margin: auto;
    font-size: 16px;
    font-weight: 400;
}

.arrowButton{
    padding: 5px;
    margin: 20px;
    color: darkgray;
    font-size: 25px;
}

.arrowButton:hover{
    border-radius: 45px;
    color: white;
    background-color: rgb(88, 88, 88);
}

.getStarted{
    margin: auto;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_input{
    margin-right: 10px;
    padding-left: 10px;
    line-height: 42px;
    width: 300px;
    color: white;
    border: 2px solid white;
    background-color: rgba(88, 88, 88, 0.6);
    opacity: 0.9;
    font-size: 20px;
    border-radius: 5px;
}

.main_input[type=text]:focus {
    outline: none;
}
.main_input[type=text]::placeholder {
    color: white;
    opacity: 0.7;
}

.start{
    margin-left: 10px;
    height: 45px;
    width: 130px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 5px;
}

.start::before{
    content:"GET STARTED";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px 0px;
    color: white;
    background: rgba(88, 88, 88, 0.6);
    transition: 0.5s;

}

.start:hover::before{
    top: 0;
}

.start::after{
    content:"GET STARTED";
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0px;
    background: white;
    color: rgb(88, 88, 88);
    width: 100%;
    height: 100%;
    transition: 0.5s;

}

.start:hover::after{
    top: -100%;
}

@media only screen and (max-width: 1412px) {
    .headlines h1{
        font-size: 90px;
        transition: font-size 0.4s ease-out;
    }
}
@media only screen and (max-width: 1200px) {
    .headlines h1{
        font-size: 70px;
        transition: font-size 0.4s ease-out;
    }
}
@media only screen and (max-width: 1000px) {
    .headlines h1{
        font-size: 50px;
        transition: font-size 0.4s ease-out;
    }
}