.logoContainer {
    width: 100%;
    overflow: hidden;
    background-color: rgb(40, 40, 40); /* Adjust the background color as needed */
    padding: 20px 0;
    position: relative;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes scroll {
    from {
      transform: translateX(0%);
    }
    to{
      transform: translateX(-157%);
    }
}
.scroll{
    display:flex;
    /* animation: 15s scroll infinite linear; */
}

.scroll:hover {
    animation-play-state: paused;
}

.logoItem {
    flex: 0 0 auto;
    padding: 0 60px;
}
  
.scroll img{
    filter: brightness(0) invert(1);
    /* flex-shrink: 0; */
    width: auto;
    height: 100px;
}