.btn_container{
    /* border: 2px solid green; */
    margin-top: 40px;
    transition: transform 0.4s ease
}

.btn{
    padding: 10px 0px;
    border: 2px solid rgb(24, 32, 41);
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;

}

.btn_alt1{
    width: 45%;
    margin: 10px 0px;
    transition: background-color 0.3s ease;
}
.btn_alt2{
    color: wheat;
    width: 100%;
    margin: 20px 0px ;
    background-color: rgb(24, 32, 41);
    transition: background-color 0.3s ease;
}
.btn_alt1:hover{
    transition: background-color border-color 0.3s ease;
    border:2px solid rgb(24, 32, 41, 0.4);
    background-color: rgb(24, 32, 41, 0.4);
}
.btn_alt2:hover{
    transition: background-color 0.3s ease;
    border-color:rgb(24, 32, 41, 0.4);
    background-color: rgb(24, 32, 41, 0.8);
}