
  
.checkout_slip {
  background: #eeeeee;
  color: black;
  padding: 20px;
  border-radius: 10px;
}

.checkout_heading{
  display: flex;
  justify-content: space-between;
}
  
.checkout_button {
  width: 100%;
  background-color: black;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}
.list_item{
  margin-bottom: 10px;
  font-weight: 300;
}
.total {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}