.product_card {
  width: 100%;
  display: flex;
  padding: 20px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.66);
  justify-content: space-between;
  align-items: top;
}
  
.image_container img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    background: radial-gradient(circle, white,gray);
}
  
.details {
    color: black;
    width: 50%;
    margin-left: 20px;
}
.title{
  width: 80%;
  font-size: 22px;
  font-weight: 700;
}
  
.price .original_price {
  text-decoration: line-through;
  color: gray;
  margin-right: 10px;
}
  
.price{
  font-size: 25px;
  margin: 10px 0px;
}

.selectors {
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.select {
  padding: 10px;
  border-bottom: 2px solid black;
  background-color: white;
  width: 80%;
  /* margin: 10px 0px; */
  margin-right: 20px
}

.color, .size {
  margin-right: 20px;
}

.quantity_selector{
  margin-left: 40px;
}
.quantity_selector button {
  font-size: 20px;
  color: black;
  border: none;
  padding:5px 10px;
  cursor: pointer;
}

.quantity{
  padding: 5px 10px;
  background-color: black;
  color: white;
}