.categories{
    margin: 60px;
    padding: 30px 30px;
    background-color: rgb(223, 223, 223);
    border-radius: 10px;
}

.categories h1{
    font-size: 35px;
    font-weight: 600;
}
.c{
    color: white;
    margin: 5px 0px;
    margin-right: 15px;
    border-radius: 5px;
    font-size: 25px;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    transition:all 0.3s;
}


.gradient{
    display: flex;
    align-items: end;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    height: 100%;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center; 
    font-size: 25px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s;
}
.c:hover .gradient,
.c:focus .gradient {
  transform: scale(1.1);
}

.categoryCard_container{
    /* padding: 20px 0px; */
    overflow: hidden;
    height: 650px;
    display: grid;
    grid-template-areas:
    'card1 card1 card2 card2 card2 card3 card3'
    'card1 card1 card2 card2 card2 card3 card3'
    'card1 card1 card4 card4 card6 card3 card3'
    'card1 card1 card4 card4 card5 card5 card5'
    'card1 card1 card4 card4 card5 card5 card5'
    ;
    padding: 20px 0px;
    /* background-color: #a196c4 */
}
