/* styles/filterMenu.module.css */
.filters{
    margin: 0px 20px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: display 0.5s ease-in-out;
}

.divider{
    width: 1px;
    height: 20px;
    background-color: #333;
    margin: auto 20px;
}
.filterbtns{
    white-space:nowrap;
    padding: 4px 4px;
    border-radius: 4px;
    color: black;
    border: 2px solid rgba(0, 0, 0, 0.5);
    font-size: 14px;
    transition: all 0.5s ease-in;
}

.blackbg{
    transition: all 0.5s ease-out;
    white-space:nowrap;
    padding: 4px 4px;
    border-radius: 4px;
    font-size: 14px;
    background-color: black;
    color: white;
}

.count{
    margin-left: 6px;
    background-color: white;
    color:black;
    padding: 2px 6px;
    border-radius: 50%;
}

.filtercount{
    width: 100px;
}

.filterContainer{
    display: flex;
    overflow: scroll;
    scrollbar-width:none;
}

.selected_filters{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.catogoriesList{

    background-color: rgb(190, 190, 190);
    border-radius: 5px;
    z-index: 100;
    position: absolute;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    /* margin-top: em; */
    font-size: medium;
    padding: 5px 0px;
    animation: growdown 300ms ease-in-out forwards;
    transform-origin: top center;
}

@keyframes growdown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}

.catg_item{
    margin: 4px 0px;
    width: 100%;
    text-align:start ;
    padding: 0px 10px;
    border-radius: 4px;
}
.catg_item:hover{
    background-color: rgb(179, 179, 179);
}


.overlay {
    margin: 10px 20px;
    position:absolute;
    background-color: rgb(191, 191, 191);
    max-width: 85em;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px 4px rgb(0,0,0,0.4);;
    animation: growdown 600ms ease-out forwards;
    transform-origin: top left;
}

@keyframes growdown {
    0% {
        transform: scaleY(0)
    }
    100% {
        transform: scaleY(1)
    }
}

.search_filter{
    padding: 0px 10px;
    width: 30em;
    height: 35px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(191, 191, 191);
}

.menuContainer {
    /* background-color: rgba(255, 255, 255, 0.799); */
    padding: 10px;
    width: auto;
    max-height: 25em;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.closeButton {
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.filterOptions {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: 30px;
}

.filterCategory {
    margin-right: 50px;
}

.bold{
    text-align: center;
    color: grey;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}

.filteritem{
    /* border: 1px solid red; */
    font-size: 15px;
    margin: 5px 0px;
    padding: 2px 4px;
}

.filterItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow: scroll;
    scrollbar-width:none;
    box-sizing: border-box;
    max-height: 20em;
}

.selected{
    border: 1px solid black;
    border-radius: 4px;
    padding: 2px 4px;
    transition: all 0.2s ease-out;
}

.btn_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.applyButton {
    
    margin-top: 20px;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    border: 2px solid black;
    cursor: pointer;
}
