.footer{
    color :white;
    margin-top: 200px;
}

.extra{
    position: relative;
    height: 50vh;
    /* background-color: rgba(160, 160, 160, 0.993); */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* font-size: 40px; */
    font-weight: 600;
    overflow: hidden;
}

.extra img{
    height: 50vh;
    width: 100%;
    
    transition: transform 0.1s;
}
.extra h1{
    position: absolute;
    display: block;
}



.parallaximg{
    position: absolute;
    width: 750px !important;
}

.social{
    margin: 10px 20px;
    padding: 5px 10px;
    /* border:  2px solid greenyellow; */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.social_media{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.social_media a{
    margin: 0px 15px;
}

.brandlogo{
    font-size: xx-large;
}

.partition{
    margin: 10px 60px;
    padding: 5px 10px;
    /* border: 2px solid greenyellow; */
}

.head{
    color:rgb(112, 111, 111);
    font-weight: 500;
}

.info_container{
    background-color: rgb(40, 40, 40);
    display: flex;
    padding: 20px 60px;
    justify-content: space-between;
    /* border: 2px solid greenyellow; */

}
.content{
    margin-top: 20px;
    text-wrap: nowrap;
    /* border: 2px solid rebeccapurple; */
    
}
.content_item{
    margin-bottom: 10px;
}

.contact{
    display: flex;
    justify-content: space-evenly;
    margin-right: 100px;
    /* border: 2px solid greenyellow; */
}

.bottom{
    padding:5px 60px;
    background-color: rgb(40, 40, 40);
}

.bottom div{
    color: white;
    border-top: 1px solid rgb(161, 161, 161);
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

