.main_container{
    color: black;
}

.trendTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btncontainer{
    padding: 0px 60px;
}

.scrollbtn{
    border: 2px solid gray;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px;
    color: gray;
    transition: all 0.2s ease-in-out;
}
.scrollbtn:hover{
    background-color: gray;
    color: white;
    transform:scaleX(1.3);
}

.scrollbtn svg{
    font-size: 20px;
}

.trends{
    padding: 40px 50px;
}


.trends h1{
    margin: 0px 30px;
    font-size: 40px;
    font-weight: 600;
}

.card_container {
    padding: 20px 0px;
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    scrollbar-width: none;
}

.alt_card_container{

    padding: 20px 0px;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* gap: 10px; */
}

.card_container::-webkit-scrollbar {
    display: none;
}