.main_container{
    color: black;
    width: 90%;
    margin: auto;
}

.trends{
    margin: 100px 0px;
}

.trends h1{
    margin: 0px 30px;
    font-size: 40px;
    font-weight: 600;
}
.alt_card_container{

    padding: 20px 0px;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* gap: 10px; */
}

.card_container::-webkit-scrollbar {
    display: none;
}