.navbar{
    width: 100%;
    padding: 0px 60px;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    /* background-image: linear-gradient(rgba(0,0,0,0.9) 10%, rgba(0,0,0,0)); */
    z-index: 99;
}
.brandlogo{
    font-size: xx-large;
}
.navlist {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.sign_in{
    width: 85px;
    height: 38px;
    padding: 5px 10px;
    position: relative;
    border: 2px solid white;
    opacity: 1;
    overflow: hidden;
    box-sizing: border-box;
}

.sign_in::before{
    content:"SIGN IN";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    color: rgb(88, 88, 88);
    background: white;
    transition: 0.5s;
}

.sign_in:hover:before {
    top:0
}

.sign_in::after{
    content:"SIGN IN";
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 10px;
    background: transparent;
    transition:0.5s;
    color : darkgray;
}

.sign_in:hover:after {
    top: -100%;
}
