.rating_container{
    /* height: 40em; */
    margin-top: 80px;

}

.ratings{
    display: flex;
    margin: 10px 0px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 40px 20px;
    align-items: center;
    justify-content: space-between;
}
.rating_circle{
    position: relative;
    top: 0%;
    left: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    overflow: hidden;
    background: var(--rating-color-default);
    color: var(--rating-color-default);
    width: var(--rating-size);
    height: var(--rating-size);
    font-size: calc(var(--rating-size) / 3);
    line-height: 1;
}

.rating_circle.animate {
    animation-play-state: running; /* Start the animation when the component is in view */
}
  
.rating_circle span {
    position: relative;
    display: flex;
    font-weight: bold;
    z-index: 2;
}

.rating_circle span small {
    font-size: 0.5em;
    font-weight: 900;
    align-self: center;
    }

.rating_circle::after {
    content: '';
    position: absolute;
    inset: var(--bar-size);
    background: var(--background-color);
    border-radius: inherit;
    z-index: 1;
}

.rating_circle::before {
    content: '';
    position: absolute;
    inset: var(--bar-size);
    border-radius: inherit;
    box-shadow: 0 0 0 1rem var(--rating-color-background);
    z-index: -1;
}

.rating.good {
    background: var(--rating-color-good);
    color: var(--rating-color-good);
}

.rating.meh {
    background: var(--rating-color-meh);
    color: var(--rating-color-meh);
}

.rating.bad {
    background: var(--rating-color-bad);
    color: var(--rating-color-bad);
}

.in_rates{
    width: 30%;
    display: flex;
    /* border: 2px solid red; */
    flex-wrap: wrap;
}

.in_rates_item{
    display: flex;
    border: 2px solid grey;
    margin: 5px 5px;
    padding: 5px;
    border-radius: 5px;

}