.reviewsContainer {
    margin: 20px 0px;
    background-color: #f9f9f9;
}
  
  .reviewsGrid {
    display: grid;
	columns: 2;
    grid-template-columns: repeat(2,minmax(0,1fr));
    gap: 25px;
    margin-bottom: 20px;
	align-items: start;
}

.column {
	flex: 1;
	display: grid;
	grid-auto-rows: minmax(min-content, max-content);
	gap: 1.5rem;
}
  

.reviewCard {
	background-color: white;
	border: 1px solid #e0e0e0;
	border-radius: 8px;
	padding: 16px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.rating {
  color: #ffb400;
  font-size: 18px;
  margin-bottom: 10px;
}

.reviewHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.reviewTitle {
  font-weight: bold;
  font-size: 16px;
}

.reviewDate {
  font-size: 14px;
  color: #888;
}

.reviewDetails {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
  color: #555;
}

.reviewText {
  margin-bottom: 10px;
  font-size: 14px;
  color: #333;
}

.reviewActions {
  display: flex;
  justify-content: space-between;
}

.likes{
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #666;
}

.seeAllReviews {
  padding: 10px 20px;	border: 2px solid grey;
  color: black;
  border-radius: 5px;
  cursor: pointer;	margin: 0px 15px;
}

.writeReview {
  padding: 10px 20px;
  background-color: grey;
  color: white;
  border: 2px solid grey;
  border-radius: 5px;
  cursor: pointer;	margin: 0px 15px;
}
