.searchBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px auto;
    width: 90%;
    color : black
}
.catogoriesList{

    background-color: rgb(190, 190, 190);
    border-radius: 5px;
    z-index: 100;
    position: absolute;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-top: 28em;
    font-size: medium;
    padding: 5px 10px;
    animation: growdown 300ms ease-in-out forwards;
    transform-origin: top center;
}

@keyframes growdown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}


.catg_item{
    margin: 4px 0px;
    width: 100%;
    text-align:start ;
    padding: 0px 3px;
    border-radius: 4px;
}
.catg_item:hover{
    background-color: rgb(179, 179, 179);
}
.inputBar{
    width: 70%;
    position: relative;
    display: flex;
    align-items: center;
}
.categoryBtn{
    white-space: nowrap;
    width: auto;
    padding: 0px 10px;
    line-height: 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid rgb(80, 80, 80);
    border-bottom: 2px solid rgb(80, 80, 80);
    border-left: 2px solid rgb(80, 80, 80);
    border-radius: 5px 0px 0px 5px;
}

.main_input{
    padding-left: 60px;
    line-height: 38px;
    width: 900px;
    color: black;
    font-size: 20px;
    border-radius: 0px 5px 5px 0px;
    border: 2px solid rgb(80, 80, 80);
}

.main_input[type=text]:focus {
    outline: none;
}

.searchIcon{
    position: absolute;
    right: 10px;
    width: 20px;
    color: #000000;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon > svg{
    width: 50px;
}