.cardStyle {
    width: 300px;
    height: 425px;
    border-radius:  10px ;
    box-shadow:  0 0 10px rgba(0,0,0,0.1) ;
    margin-bottom:  20px;
    margin: 20px;
  };
  
.textContainerStyle {
    margin-top:  20px ;
    padding: 20px;
  };
  
.starContainerStyle{
    display:flex;
    align-items:  center ;
    gap:  5px ;
    margin-top:  10px ;
  };
  