.navbar{
    margin: 0px 60px;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: xx-large;
}
.navlist {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.sign-in{
    padding: 5px 10px;
    position: relative;
    opacity: 1;
}

.sign-in::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: bottom right;
    transform: scale(0);
}

.sign-in:hover:before {
    transition: transform 0.5s;
    transform-origin: top left;
    transform: scale(1);
}
.sign-in:hover {
    color:black;
}

.sign-in::after{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid darkgray;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: top left;
    transform: scale(1);
    color : white;
}

.sign-in:hover:after {
    transition: transform 0.5s;
    transform-origin:bottom right;
    transform: scale(0);
}

.bg{
    opacity: 0.9;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease-out;
}

.gradient{
    background-image: linear-gradient(rgba(0,0,0,1) 0%, rgba(0,0,0,0)80%);
    opacity: 0.9;
}

.ad{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headlines{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.headlines h1{
    margin: auto;
    font-size: 50px;
    font-weight: 900;
    opacity: 0.9;
}

.headlines h2{
    margin: auto;
    font-size: 35px;
    font-weight: 400;
}
.headlines p{
    margin: auto;
    font-size: 20px;
    font-weight: 400;
}

.arrbtn{
    color: darkgray;
    font-size: 25px;
}





.br-g{
    border: 2px solid greenyellow;
}
.br-r{
    border: 2px solid rgb(243, 89, 89);
}
